# Uso de FOR


```python
for variable in secuencia:
    # Código a ejecutar en cada vuelta
```

In [16]:
#recorrer una lista de números

lista = [1,2,3,4,5]

for variable in lista:
    print(variable)

1
2
3
4
5

In [2]:
#recorrer una lista con condicionales

lista = [3,7,2,8,4]

for variable in lista:
    if variable % 2 ==0:
        print(variable)

2
8
4

In [3]:
#recorrer una lista con condicionales

lista = [3,7,2,8,4]

for variable in lista:
    if variable % 2 == 0:
        print(variable,"es par")
    else:
        print(variable,"es impar")

3 es impar
7 es impar
2 es par
8 es par
4 es par

In [4]:
#sumar todos los elementos de una lista


lista = [1, 2, 3, 4, 5]
total = 0

for variable in lista:
    total = total + variable  ##acumulando la suma de la lista

print (total) #imprime el acumulado

15

In [5]:
#sumar todos los elementos de una lista

lista = [1, 2, 3, 4, 5]
total = 0

for variable in lista:
    total = total + variable #acumula la suma en cada iteración
    print (total) #imprime cada iteración

1
3
6
10
15

In [6]:
#recorrer una lista de diccionario

personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30}
]

for variable in personas:
    print(variable)

{'nombre': 'Ana', 'edad': 25}
{'nombre': 'Luis', 'edad': 30}

In [7]:
#recorrer una lista de diccionario

personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30}
]

for variable in personas:
    print(variable["nombre"])

Ana
Luis

## Triángulos

In [8]:
#imprimir asriscos

for variable in range(4):
    print ("*")

*
*
*
*

In [9]:
lista = [0,1,2,3]

for variable in lista:
    espacio = " " * variable
    print(espacio + "*")

*
 *
  *
   *

In [10]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * variable
    print(espacios + "*")

 *
  *
   *
    *
     *

In [11]:
lista = [3,2,1,0]

for variable in lista:
    espacio = " " * variable
    print(espacio + "*")

   *
  *
 *
*

In [12]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (valor-variable)
    print(espacios + "*")

    *
   *
  *
 *
*

In [13]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (valor-variable)
    asteriscos = "*" * variable
    print(espacios + asteriscos)

    *
   **
  ***
 ****
*****

In [14]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    asteriscos = "*" * variable
    print(asteriscos)

*
**
***
****
*****

In [15]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (altura-variable)
    asteriscos = "*" * (2 * variable - 1)
    print(espacios + asteriscos)

NameError: name 'altura' is not defined

## Recuento de palabras repetidas

In [ ]:
texto = "Python es genial y Python es divertido"

# Convertimos todo a minúsculas y separamos por palabras
palabras = texto.lower().split()

print(palabras)

['python', 'es', 'genial', 'y', 'python', 'es', 'divertido']

In [ ]:
texto = "Python es genial y Python es divertido"
palabras = texto.lower().split()
recuento_palabras = {}

for variable in palabras:
    if variable in recuento_palabras:
        recuento_palabras[variable] = recuento_palabras[variable] + 1
    else:
        recuento_palabras[variable] = 1

print (recuento_palabras)

{'python': 2, 'es': 2, 'genial': 1, 'y': 1, 'divertido': 1}

## Repaso - 9 enero 2026

In [ ]:
#En Python, range(inicio, fin) genera números desde inicio hasta fin - 1. Es decir, el número final NO está incluido.
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
n= 3
for i in range(1, n+1):
    print(i)

1
2
3

In [26]:
n = 3
suma_total = 0

for i in range(1, n + 1):
    for j in range(1, n + 1):
        suma_total += i + j

print(suma_total)

36

In [29]:
n = 3
suma_total = 0

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i, j, "->", i + j)
        suma_total += i + j

print("Suma total:", suma_total)

1 1 -> 2
1 2 -> 3
1 3 -> 4
2 1 -> 3
2 2 -> 4
2 3 -> 5
3 1 -> 4
3 2 -> 5
3 3 -> 6
Suma total: 36

In [38]:
n = 5
suma = 0

for i in range(1,n+1):
    suma = suma + i

print(suma)

15

In [52]:

x = 6
a = [1,2,3,4,5]

for i in a:
    if i == x: 
        print("Encontrado")

In [61]:
a = 5

n= 0
resultado = 1

for i in range(1,n+1):
    resultado =  resultado * a
print(resultado)

1

In [69]:
M = [
    [0, 0, 0, 0, 0], 
    [0, 1, 2, 3, 4], 
    [0, 5, 6, 7, 8],  
    [0, 9, 10, 11, 12],  
    [0, 13, 14, 15, 16]  
]
n = 4
suma = 0

for i in range(1, n+1):
    for j in range(1, n+1):
        suma = suma + M[i][j]
print(suma)

136

In [70]:
n = 20
recuento = 0

for i in range(1,n+1):
    if n % i == 0:
        recuento = recuento + 1

print(recuento)

6