# Uso de FOR


```python
for variable in secuencia:
    # Código a ejecutar en cada vuelta
```

In [36]:
#recorrer una lista de números utilizando un bucle for

lista = [1,2,3,4,5]

for i in lista:
    print(i)

1
2
3
4
5

In [37]:
#recorrer una lista y devolver solo los números pares

lista = [3,7,2,8,4]

for i in lista:
    if i % 2 == 0:
        print(i)

2
8
4

In [46]:
#recorrer una lista y devolver cada elemento y decir si es par o impar

lista = [3,7,2,8,4]

for i in lista:
    if i % 2 == 0:       
        print(i,"es par")
    elif i % 2 == 1:
        print(i,"es impar")
    else:
        print(i,"otra opción")

3 es impar
7 es impar
2 es par
8 es par
4 es par

In [ ]:
#sumar todos los elementos de una lista

lista = [1, 2, 3, 4, 5]

In [ ]:
#sumar todos los elementos de una lista y ver la operación  resultado de cada iteración.

lista = [1, 2, 3, 4, 5]

In [ ]:
#recorrer una lista de diccionarios

personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30}
]

In [ ]:
#recorrer una lista de diccionario y mostrar solo los nombres

personas = [
    {"nombre": "Ana", "edad": 25},
    {"nombre": "Luis", "edad": 30}
]

## Triángulos

In [ ]:
#imprimir asriscos

for variable in range(4):
    print ("*")

In [ ]:
lista = [0,1,2,3]

for variable in lista:
    espacio = " " * variable
    print(espacio + "*")

In [ ]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * variable
    print(espacios + "*")

In [ ]:
lista = [3,2,1,0]

for variable in lista:
    espacio = " " * variable
    print(espacio + "*")

In [ ]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (valor-variable)
    print(espacios + "*")

In [ ]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (valor-variable)
    asteriscos = "*" * variable
    print(espacios + asteriscos)

In [ ]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    asteriscos = "*" * variable
    print(asteriscos)

In [ ]:
valor = 5

for variable in range(1,valor+1):       #Aquí hay una lista (1,6) con valores del 1 al 5
    espacios = " " * (altura-variable)
    asteriscos = "*" * (2 * variable - 1)
    print(espacios + asteriscos)

## Recuento de palabras repetidas

In [ ]:
texto = "Python es genial y Python es divertido"

# Convertimos todo a minúsculas y separamos por palabras
palabras = texto.lower().split()

print(palabras)

In [ ]:
texto = "Python es genial y Python es divertido"
palabras = texto.lower().split()
recuento_palabras = {}

for variable in palabras:
    if variable in recuento_palabras:
        recuento_palabras[variable] = recuento_palabras[variable] + 1
    else:
        recuento_palabras[variable] = 1

print (recuento_palabras)

## Tarea Repaso - 9 enero 2026

In [ ]:
#En Python, range(inicio, fin) genera números desde inicio hasta fin - 1. Es decir, el número final NO está incluido.
for i in range(1,10):
    print(i)

In [ ]:
n= 3
for i in range(1, n+1):
    print(i)

In [ ]:
n = 3
suma_total = 0

for i in range(1, n + 1):
    for j in range(1, n + 1):
        suma_total += i + j

print(suma_total)

In [ ]:
n = 3
suma_total = 0

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i, j, "->", i + j)
        suma_total += i + j

print("Suma total:", suma_total)

In [ ]:
n = 5
suma = 0

for i in range(1,n+1):
    suma = suma + i

print(suma)

In [ ]:

x = 6
a = [1,2,3,4,5]

for i in a:
    if i == x: 
        print("Encontrado")

In [ ]:
a = 5

n= 0
resultado = 1

for i in range(1,n+1):
    resultado =  resultado * a
print(resultado)

In [ ]:
M = [
    [0, 0, 0, 0, 0], 
    [0, 1, 2, 3, 4], 
    [0, 5, 6, 7, 8],  
    [0, 9, 10, 11, 12],  
    [0, 13, 14, 15, 16]  
]
n = 4
suma = 0

for i in range(1, n+1):
    for j in range(1, n+1):
        suma = suma + M[i][j]
print(suma)

In [ ]:
n = 20
recuento = 0

for i in range(1,n+1):
    if n % i == 0:
        recuento = recuento + 1

print(recuento)