### Importar Liberias

In [3]:
import pandas as pd
import numpy as np

In [5]:
df =  pd.read_csv("../data/input/winequality-white.csv", sep=';')

In [7]:
df.head(1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6

In [9]:
df.tail(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [10]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [16]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [38]:
columns_describe = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar','quality']
df[columns_describe].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.885639
min,3.800000,0.080000,0.000000,0.600000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,6.000000
max,14.200000,1.100000,1.660000,65.800000,9.000000

In [49]:
df['fixed acidity'].unique()

array([ 7.  ,  6.3 ,  8.1 ,  7.2 ,  6.2 ,  8.6 ,  7.9 ,  6.6 ,  8.3 ,
        7.4 ,  6.5 ,  6.4 ,  6.8 ,  7.6 ,  6.9 ,  8.5 ,  5.8 ,  7.3 ,
        6.7 ,  6.  ,  7.1 ,  6.1 ,  7.5 ,  9.8 ,  5.5 ,  5.9 ,  7.8 ,
        5.7 ,  8.2 ,  5.6 ,  5.2 ,  8.4 , 10.2 ,  7.7 ,  5.3 ,  5.4 ,
        9.1 ,  5.  ,  8.  , 10.  ,  5.1 ,  9.2 ,  9.  ,  8.8 ,  8.7 ,
        4.8 , 10.3 ,  9.4 ,  9.6 ,  9.3 ,  8.9 ,  9.7 , 10.7 , 14.2 ,
        9.9 ,  9.5 , 11.8 ,  4.6 ,  6.15,  4.5 ,  7.15,  6.45,  4.2 ,
        4.9 ,  4.7 ,  3.8 ,  4.4 ,  3.9 ])

In [26]:
df_filtrado = df[(df['residual sugar']>= 1.7)&(df['residual sugar']<= 1.8)]

In [29]:
df_filtrado_max = df[df['citric acid']==df['citric acid'].max()]
df_filtrado_max

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
745,7.4,0.2,1.66,2.1,0.022,34.0,113.0,0.99165,3.26,0.55,12.2,6

In [51]:
df['calidad_categoria'] = pd.cut(df['quality'],bins=[0,5,6,9],labels=["Mala","Regular","Buena"])

In [52]:
df['calidad_categoria'].unique()

['Regular', 'Mala', 'Buena']
Categories (3, object): ['Mala' < 'Regular' < 'Buena']

In [54]:
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
# Grafico de frecuencias de la variable calidad_categoria
columna = 'calidad_categoria'
frecuencias  = df[columna].value_counts().reset_index()

In [57]:
frecuencias

     index  calidad_categoria
0  Regular               2198
1     Mala               1640
2    Buena               1060